.body{
    box-sizing: border-box;
}
li{
    list-style-type: none;
}
.header{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background:linear-gradient(to right, #ff9b44 0%, #fc6075 100%);
}
.header-left-item{
    display: flex;
    flex-direction: row;
}
.home-logo{
    width: 40px;
    height: 40px;
    align-items: center;    
    margin-top: 10px;
}
/* .logo{
    align-items: center;
} */
.header-left{
    padding: 0px 20px;
    width: 190px;
    text-align: center;
    position: relative;
    float: left;
}
.home-icon{
    /* align-items: center; */
    margin-top: 15px;
}
.sidebar-icon{
    visibility: visible;
    height: 60px;
    width: 41px;
    text-align: center;
    font-size: 26px;
    color: #fff;
    padding:0px 10px auto;
}
.logo-name{
    color: #fff;
    letter-spacing: 0px;
    font-size: 20px ;
    font-weight: 500;
    font-family: sans-serif;
    padding: 17px 20px ;
    visibility: visible;
    font:bold
    /* line-height: 10px; */
}

.header-right-item{
    display: flex;
    /* flex-direction: row; */
    justify-content:right;
    margin-right: 10px;
    position: relative;
    visibility: visible;
}
.search{
    display: flex;
    flex-direction: row;
    width: 230px;
    visibility: visible;
    margin-right: 10px;
}
.search input{
    border-radius: 30px;
    color: #fff ; 
    width: 164px;
    height: 19px;
    outline: none;
    border: none;
    background-color: rgba(255, 255, 255, .15);
    padding: 12px 50px 12px 15px; 
    margin-top: 8px;
    margin-right: -35px;
    visibility: visible;
}
.search input::placeholder{
    color: #fff;
}
.search-icon{
    position: relative;
    margin-top: 18px;
    font-size: 22px;
    color: #fff;
    visibility: visible;
}

.language-dropdown{
    display: flex;
    flex-direction: row;
    padding: 0px ;
    font-size: 18px;
    color: #fff;
    margin-top: 17px;
    /* padding-top: 10px; */
}
.language-dropdown span{
    font-family: sans-serif;
}
.dropdown-img{
    height: 20px;
    width: 20px;
    margin: 0px 5px 0px 0px;
}
.dropdown-icon{
    margin-top: -6px;
}

.dropdown-data{
    display: flex;
    flex-direction: row;
    visibility: visible;
}
.dropdown-content{
    position: absolute;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    background-color: #fff;
    margin-top: 2px;
    width:120px;
    max-height: 15px;
    min-height: 120px;
    margin-right: 270px;
    padding: 10px 5px;
}
.dropdown-item{
    font-size: 15px;
    color: #171717;
    padding: 5px 15px !important;
}
.notification-icon, .message-icon{
    margin: 15px 20px 0px 0px;
    padding:5px;
    /* height: 27px;
    width: 30px; */
    font-size: 23px;
    color: #fff;
    position: relative;
    font-weight: 600;
}

.notification-count, .message-count {
  /* margin: 0px 15px 0px 0px; */
  width: 18px;
  height: 15px;
  font-size: 12px;
  background-color: var(--dodger-blue);
  color: white;
  padding: 2.5px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: -8px;
}

.admin-data{
    display: flex;
    flex-direction: row;
}
.adminImg{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-top: 16px;
    padding: 0px 10px;
}
.adminActivate{
    border: 2px solid #fff;
    height: 8px;
    width: 8px;
    background-color: #55ce63;
    position: absolute;
    bottom: 15px;
    border-radius: 50%;
    display: inline-block;
}
.dropdown-item:hover{
    background-color: aliceblue;
}
.profile-content{
position: absolute;
top: 70px;
    width: 160px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;    
    padding-bottom:10px ;
    border-radius: 2px;
    margin-right: 0px;
}
.profile-content h5{
    font-size: 16px;
    padding:10px;
    margin-left: 10px;
}
.dropdown-admin{
    display: flex;
    flex-direction: row;
    visibility: visible;
}
.admin-data span{
    font-size: 18px;
    word-spacing: 0.1px;
    color: #fff;
    margin-top: 20px;
}
.hidden-icon{
    color: #fff;
    padding: 0px 20px;
    visibility: hidden;
    position: absolute;

}
.fabbar{
    height: 21px;
    width: 24px;
    font-weight: 900;
    vertical-align: middle;
    font-size: 25px;
    margin-top: 15px;
}
.ellipsis-icon{
    color: #fff;
    position: absolute;
    visibility: hidden;
    font-size: 25px;
    font-weight: 900;
    height: 60px;
    width: 20px;
    padding: 0px 20px;
    right: 0px;
}
.ellip-icon{
    /* vertical-align: middle; */
    /* align-items: center; */
    margin-top: 15px;
}
.hideOn-small{
    position: absolute;
    visibility: visible;
}

/* @media screen and (max-width: 1100px){
    .header-right-item{
        visibility: hidden;
        position: absolute;
    }
} */

@media screen and (max-width: 990px){
    .dropdown-admin{
        visibility: hidden;    
    }
    .dropdown-admin {
        position: absolute;
        margin: 0;
        padding: 0;
    }
    .dropdown-icon{
        height: 0;
        width: 0;
    }
    .dropdown-data{
        visibility: hidden;
        position: absolute;
        margin: 0;
        padding: 0;
    }
    .language-dropdown{
        width: 40px;
        padding: 5px;
        margin: 0;
        margin-top:18px;
        margin-left: 10px;
    }
    .logo-name{
        visibility: hidden;
        position: absolute;
    }
    .search{
        visibility: hidden;
        position: absolute;
    }
    .search input{
        visibility: hidden;
        position: absolute;
    }
    .search-icon{
        visibility: visible;
        padding: 0px 10px;
        right: 30px;
    } 
    .header-left{
        /* display: none; */
        text-align: center;
        /* position: absolute; */
        width: 100% ;
    }
    .logo{
        display: block;
        text-align: center;
    }
    .sidebar-icon{

        visibility: hidden;
        position: absolute;
    }
    .hidden-icon{
        position: relative;
        visibility: visible;
    }
    .ellipsis-icon{
        visibility: hidden;
    }
    .hideOn-small{
        position: absolute;
        visibility: visible;
    }
    .header-right-item{
        /* position: absolute; */
        visibility: visible;
    }
    .language-dropdown{
        padding: 0px;
        /* margin-right:5px ; */
    }
    .dropdown-img{
        margin: 0;
        margin-left: 10px;
    }
    .notification-icon, .message-icon{
        padding: 5px;
        margin-top: 15px;
    }
    .message-count{
        margin-top: 2px;
    }
    
}

@media screen and (max-width:580px) {
    .header-right-item{
        visibility: hidden;
        position: absolute;
        display: none;
    }
    .ellipsis-icon{
        visibility: visible;
    }
    .hideOn-small{
        position: absolute;
        visibility: hidden;

    }
}